<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>admin</username>
      <password>Mp@wered@123</password>
      <id>01-mpoweredhealth-central</id>
    </server>
    <server>
       <id>aws-codeartifact-snapshot</id>
       <username>aws-codeartifact-user-devops</username>
       <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    <server>
       <id>aws-codeartifact-release</id>
       <username>aws-codeartifact-user-devops</username>
       <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    <server>
      <username>admin</username>
      <password>Mp@wered@123</password>
      <id>01-mpoweredhealth-snapshots</id>
    </server>
    <server>
      <id>aws-codeartifact-snapshot</id>
      <username>aws-codeartifact-user-devops</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
    <server>
      <id>aws-codeartifact-release</id>
      <username>aws-codeartifact-user-devops</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <id>02-maven-central</id>
          <name>02 Maven Central Repository</name>
          <url>https://repo.maven.apache.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
         <repository>
	         <id>aws-codeartifact-snapshot</id>
             <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-snapshot/</url>
	     </repository>
         <repository>
	         <snapshots>
             <enabled>false</enabled>
             </snapshots>
             <id>aws-codeartifact-release</id>
             <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-release/</url>
         </repository>
        <repository>
          <id>aws-codeartifact-snapshot</id>
          <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-snapshot/</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>aws-codeartifact-release</id>
          <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-release/</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>01-mpoweredhealth-central</id>
          <name>01-mpoweredhealth-libs-release</name>
          <url>https://mpoweredhealth.jfrog.io/mpoweredhealth/libs-release</url>
        </repository>
        <repository>
          <snapshots />
          <id>01-mpoweredhealth-snapshots</id>
          <name>01-mpoweredhealth-libs-snapshot</name>
          <url>https://mpoweredhealth.jfrog.io/mpoweredhealth/libs-snapshot</url>
        </repository>
        <repository>
          <id>aws-codeartifact-snapshot</id>
          <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-snapshot/</url>
        </repository>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>aws-codeartifact-release</id>
          <url>https://aws-mph-codeartifact-169305489653.d.codeartifact.us-east-1.amazonaws.com/maven/aws-mph-common-release/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>01-mpoweredhealth-central</id>
          <name>01-mpoweredhealth-libs-release</name>
          <url>https://mpoweredhealth.jfrog.io/mpoweredhealth/libs-release</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>01-mpoweredhealth-snapshots</id>
          <name>01-mpoweredhealth-libs-snapshot</name>
          <url>https://mpoweredhealth.jfrog.io/mpoweredhealth/libs-snapshot</url>
        </pluginRepository>
        <pluginRepository>
          <id>02-maven-central</id>
          <name>02 Maven Plugin Repository</name>
          <url>http://repo1.maven.org/maven2</url>
          <layout>default</layout>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <updatePolicy>never</updatePolicy>
          </releases>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
